---
- name: Test Windows connectivity
  hosts: windows
  gather_facts: no
 
  tasks:
 
    - name: Ping Windows host
      win_ping:
      register: ping_result
 
    - name: Create artifact folder
      win_file:
        path: C:\inetpub\artifact1
        state: directory
 
    - name: Download artifact zip
      win_get_url:
        url: https://tr1.jfrog.io/artifactory/generic-local/CTT/GST/gosystemapicore/develop/2024.05.22.22.zip
        dest: C:\inetpub\artifact1\app.zip
        url_username: "{{ lookup('env','JFROG_UNAME') }}"
        url_password: "{{ lookup('env','JFROG_PASSWORD') }}"
 
    - name: Extract artifact zip
      win_unzip:
        src: C:\inetpub\artifact1\app.zip
        dest: C:\inetpub\artifact1
        remote_src: yes

    - name: Install IIS and Management Tools
      win_feature:
        name:
         - Web-Server
         - Web-Mgmt-Tools
         - Web-Scripting-Tools
        state: present
        include_management_tools: yes
 
    - name: Create IIS App pool
      win_iis_webapppool:
        name: artifact1-pool
        state: started

    - name: Remove existing IIS Website if present
      win_iis_website:
        name: artifact1-site
        state: absent
        
    - name: Create IIS Website
      win_iis_website:
        name: artifact1-site
        state: started
        physical_path: C:\inetpub\artifact1
        application_pool: artifact1-pool
        port: 8080





