---
- name: Test Windows connectivity
  hosts: windows
  gather_facts: no

  tasks:
    - name: Ping Windows host
      win_ping:
      register: ping_result

    - name: Create artifact folder 
      win_file:
       path: C\artifact1
       state: directory
    





