

name: test ansible connectivity

# Controls when the workflow will run
on:

 
  push:
    branches: [ "main" ]
  

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  test-connectivity:
    
    runs-on: self-hosted

   
    steps:
      
      - uses: actions/checkout@v4

      
        
      - name: install ansible
        run: |
          
        
          
          pip install ansible pywinrm

         
      - name: Run ansible playbook
        run: |
          source ansible-env/bin/activate
          ansible-playbook -i inventories/dev/hosts playbooks/main.yml
