name: test ansible connectivity
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  test-connectivity:
    runs-on: linx2
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
     
 
      - name: Run ansible playbook
        env:
          JFROG_UNAME: ${{ secrets.JFROG_UNAME }}
          JFROG_PASSWORD: ${{ secrets.JFROG_PASSWORD }}
        run: ansible-playbook -i inventories/dev/hosts playbooks/main.yml -vvv
 
