# This is a basic workflow to help you get started with Actions

name: test ansible connectivity

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test-connectivity:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: install ansible
        run: pip install pywinrm
        
      - name: install ansible
        run: |
          sudo yum update -y
          sudo amazon-linux-extras enable ansible2
          sudo yum install ansible -y

      # Runs a set of commands using the runners shell
      - name: install WinRm support 
        run: |
          pip3 install pywinrm
      - name: Run ansible playbook
        run: |
          ansible-playbook playbooks/main.yml
