name: test ansible connectivity
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  test-connectivity:
    runs-on: linux1
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run ansible playbook
        # run: ansible -i inventories/dev/hosts windows -m win_ping -vvv
        run: ansible-playbook -i inventories/dev/hosts playbooks/main.yml -vvv
