name: test ansible connectivity
 
on:
  push:
    branches: ["main"]
  workflow_dispatch:
 
jobs:
  test-connectivity:
    runs-on: self-hosted
 
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
 
      - name: Run ansible playbook
        run: ansible-playbook -i inventories/dev/hosts playbooks/main.yml
